
streamlit==1.32.0
pandas==2.1.0
numpy==1.24.0
plotly==5.15.0
scikit-learn==1.3.0
prophet==1.1.5
altair==4.2.0  # Critical version to fix your earlier error
matplotlib==3.7.0
scipy==1.10.0
cmdstanpy==1.2.0
holidays==0.47
pystan==3.7.0 
protobuf==3.20.0  
python-dateutil==2.8.2
pytz==2024.1
tzdata==2024.1

attrs
blinker
cachetools
certifi
charset-normalizer
click
cmdstanpy
colorama
contourpy
cycler
fonttools
gitdb
GitPython
holidays
idna
importlib_resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
packaging
pandas
patsy
pillow
plotly
prophet
protobuf == 3.20
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
stanio
statsmodels
streamlit
tenacity
threadpoolctl
toml
tornado
tqdm
typing_extensions

urllib3
watchdog